@media screen and (min-width: 1008px) {
    
    /* -------------HEADER-------------- */
    .navbar_menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 100%;
        z-index: 10;
        position: static;
        list-style-type: none;
        width: 100%;
        height: auto;
        margin: 0 auto 25px auto;
        align-items: center;
    }
    .navbar_links {
        display: flex;
        width: 125px;
        align-items: last baseline;
        justify-content: center;
        height: 100%;
        padding-bottom: 10px;
    }
    #mobile_menu {
        display: none;
    }


    /* -------------MAIN-------------- */

    .hero-container {
        max-height: 700px;
    }
    .hero-contents {
        max-width: 52%;
        text-align: left;
    }
    .contact-container {
        height: auto;
        margin: 0;
    }
    .contact-container picture {
        display: block;
    }

    #aboutus {
        flex-direction: row; 
    }
    .contactus-container, .weather-container {
        margin: 5%;
        height: 80%;
        min-height: 80%;
    }
    .invite-container {
        display: flex;
        flex-direction: column;
    }
    .invite-organic {
        height: auto;
    }
    .invite-photo {
        height: auto;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
    }
    .invite-photo img {
        height: 200px;
    }
    
}
