@media screen and (min-width: 768px) {
    
    /* ------------HEADER------------- */
    .logo {
        width: 175px;
        
    }
    .navbar_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .social_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        z-index: 100;
        width: 50%;
    }

    .social_links {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    

    .social_links img {
        width: 40px;
        transition: all 0.5s ease;
    }

    /* ------------MAIN------------- */


    .contactus-container, .weather-container {
        width: 95%;
        margin: 0 auto;
    
    }
    .contact-container picture {
        display: none;
    }
    .contact-container {
        justify-content: space-evenly;
    }

    .invite-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .invite-organic {
        grid-column:1/2;
        grid-row: 1/2;
        height: 500px;
    }
    .invite-photo {
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 500px;
    }
    .invite-photo img  {
        object-fit:cover;
        height: 100%;
    }

}