@media screen and (min-width: 1008px) {
    
    .navbar-menu {
        display: flex;
        top: 100%;
        z-index: 10;
        position: static;
        list-style-type: none;
        width: 100%;
        margin: 0 auto 25px auto;
        align-items: center;

    }
    .navbar-links {
        display: flex;
        width: 125px;
        align-items: last baseline;
        justify-content: center;
        height: 100%;
    }
    .navbar-toggle .bar {
        display: none;
    }
    .social-menu {
        padding-right: 0;
        display: flex;
        top: 25%;
        right: 5%;
    }
    .social-menu.is-active {
        padding-right: 0;
        display: flex;
        top: 40%;
        right: 5%;
    }
    
    .social-items {
        margin-right: 10px;
    }
    .navbar-menu.active {
        display: flex;
        height: 70%;
        background-color: transparent;
        font-size: 1.2rem;
    }

/* Main */

    #homepage-main {
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;
        margin: 25px auto;
        width: 98%;
    }
    .main-containers {
        margin: 10px;
    }
    #event-container {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .event-button {
        margin-bottom: 4vw;
    }
    .hero-btn {
        font-size: 1.5vw;
    }
    
    #event-container img {
        width: 100%;
        height: 100%;
        object-position:55%;
        object-fit: cover;
    }
    .event-btn {
        margin-bottom: 3.5vw;
    }
    #weather-container {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #hero-container {
        grid-column: 2/3;
        grid-row: 1/3;
        height: auto;
    }

    
    .hero-heading {
        font-size: 4vw;
    }
    .hero-heading2 {
        font-size: 3vw;
    }
    
    
    #join-container {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #spotlight {
        display: flex;
        flex-direction: column;
        
        grid-column: 3/4;
        grid-row: 1/4;
        min-height: 89%;
    }
    .spotlight-container {
        width: 100%;
    }
    
    #spotlight3 {
        display: flex;
        position: relative;
    }
    .spotlight-overlay h2 {
        font-size: 1.7vw;
    }
    .spotlink {
        transition: all 0.5s ease;
    }
    .spotlink:hover {
        transform: scale(1.03);
        transition: all 0.2s ease;
        opacity: 0.89;
    }
    #news-container {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .modified {
        display: flex;
    }

    /* DISCOVER */

    #discover-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .discover-hero-container {
        grid-template-columns: repeat(12, 1fr);
        justify-content: center;
        padding: 0 6rem;
        margin-top: 20px;
    }
    .discover-hero-title {
        grid-column: 3/11;

    }
    .discover-media {
        grid-column: 1/-1;
    }
    .Dcontainer {
        padding: 5.6rem 0;
    }
    .Dcontent1 {
        grid-template-columns: repeat(12, 1fr);
        justify-content: center;
        padding: 0 6rem;
        position: relative;
        column-gap: 3.2rem;
        
    }
    .discover-hero-title h1 {
        font-size: 3rem;
    }
    .discover-content {
        grid-column: 6/span 7;
        grid-row: 2/3;
    }
    .Dcontent-head {
        align-self: baseline;
        justify-self: baseline;
        position: absolute;
    }
    .Dcontent-text {
        grid-column: 1/6;
        grid-row: 2/3;
    }
    .Dcontent-media {
        grid-column: 6/span 7;
        grid-row: 2/3;
    }
    .Dcontentlastmedia {
        grid-column: 1/span 9;
    }
    .Dlastcontainer {
        padding-top: 0;
    }

}